<mat-toolbar class="footer" >
    <mat-icon routerLink="/tournament" style="color: white">table_chart</mat-icon>
    <!-- <mat-icon routerLink="/tournament" style="color: white">device_hub</mat-icon> -->
    <!-- <mat-icon routerLink="/tournament" style="color: white">emoji_events</mat-icon> -->

    <!-- <mat-icon routerLink="/fixtures" style="color: white">emoji_events</mat-icon> -->
    <mat-icon routerLink="/fixtures" style="color: white">sports_rugby</mat-icon>
    
    <mat-icon routerLink="players" style="color: white">group</mat-icon>
    
    <mat-icon style="color: white">forum</mat-icon>
</mat-toolbar>